{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "decoratorVersion": "2021-12"
    },
    "externalHelpers": true,
    "target": "esnext",
    "baseUrl": "./src",
    "preserveAllComments": true,
    "keepClassNames": true,
    "experimental": {
      "plugins": [
        // TODO: replace with with native solution after it will be released resolveFully + outFileExtension
        //       https://github.com/swc-project/swc/discussions/9016
        //       https://github.com/swc-project/website/pull/278
        [
          "@swc/plugin-transform-imports",
          {
            "^(.*?)\\.ts(x)?$": {
              "skipDefaultConversion": true,
              "transform": "{{matches.[1]}}.js"
            }
          }
        ]
      ]
    }
  },
  "module": {
    "type": "nodenext",
    "strictMode": true,
    "preserveImportMeta": true
  },
  "sourceMaps": true
}
